<script>
  $(window).on('load', function(){
    setTimeout(function() {
      $(".post").css({height: 'auto'});
      $container.isotope( 'reLayout' );
    }, 100);
    // alert('hi');
  });

//for websockets
  if (typeof WebSocketRails !== "undefined" && WebSocketRails !== null)
    {
      var dispatcher = new WebSocketRails('localhost:3000/websocket')
    }
  else
    {
      var dispatcher = new Pusher('85afdbcca2eee964c60d')
    }

//var dispatcher = new WebSocketRails('localhost:3000/websocket')
  channel = dispatcher.subscribe('main_socket');
      channel.bind('comment', function(comment) {
        $("#comment-"+comment.post_id).find('input[type="text"]').attr('placeholder',comment.body)
        $("#comment-"+comment.post_id).find('input[type="text"]').animate({fontSize: "3em"}).animate({fontSize: "1em"})
        $('#feed ul').prepend("<li><a href=/posts/" + comment.post_id + " data-id=" + comment.post_id + ">" + comment.body + "</a>" + "|" + comment.user + "</li>")
    });


//build the new Post based on the websocket

      channel.bind('post', function(post) {
        //console.log("<div id='post-" + post.id + "' class='post " + post.type + " width2 height2' data-category='" + post.type + "' >THIS IS MY TEST</div>")
        var outer = "<div id='post-" + post.id + "' class='post post-" + post.type.toLowerCase() + " width2 height2' data-category='" + post.type.toLowerCase() + "' ></div>"
        var caption = "<div id='caption-" + post.id +"' class='caption' >" + post.caption + "</div>"
        var comment = "<div id='comment-" + post.id + "' class='post-last-comment' ><form method='post' action='/comments' class='post-comments'><input type='hidden' name='comment[post_id]' value='" + post.id + "'><input type='text' name='comment[body]' placeholder=''><input type='image' value=''></form></div>"
        var outer_body = "<div id='body-" + post.id + "' class='post-body-" + post.type.toLowerCase() + "'></div>"


        if (post.type.toLowerCase() === "note" )
          {var post_body = post.body}
        else if (post.type.toLowerCase() === "link" )
          {
            if (post.thumbnail != nil)
              {var post_body = "<a href='" + post.url + "'>< img src='" + post.thumbnail + "'</a>"}
            else
              {var post_body = "<a href='" + post.url + "'>" + post.url + "</a>" }
          }
        else if (post.type.toLowerCase() === "photo" )
          {var post_body = "<div class='" + post.type.toLowerCase() + "'>< img src='" + post.photo_url + "'</div>" }
        else
          {var post_body = "POST_VIDEO"}


        $('#iso-container').append(outer)
        $('#post-'+post.id).append(caption)
        $('#post-'+post.id).append(outer_body)
        $('#body-'+post.id).append(post_body)
        $('#post-'+post.id).append(comment)

})
 // websocket[:main_socket].trigger 'post',{id: @note.id, type: @note.type, caption: @note.caption, note_body: @note.body }
 //  websocket[:main_socket].trigger 'post',{id: @link.id, type: @link.type, caption: @link.caption, link_url: @link.url ,link_thumb: @link.thumbnail}
 //   websocket[:main_socket].trigger 'post',{id: @photo.id, type: @photo.type, caption: @photo.caption, photo_url: @photo.photo.url(:large) }


//for ajax form submit for creating a new comment
   $('#iso-container form').on('submit',function(event){
    event.preventDefault();
    //console.log(event) 
    $.post("/comments", $(this).serialize());
   })

 //add listener for each feed li element
 $("#feed").on('click', 'a', function(event){
    event.preventDefault();
    $.get('/posts/' + this.getAttribute("data-id"), function(data) {
      // console.log(data);
      $('#feed-post').html(data)
    })

 })

</script>