/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*for the index page */


form[class=post-comments] input::-webkit-input-placeholder {
   color: #000 !important;
}

form[class=post-comments] input:-moz-placeholder { /* Firefox 18- */
   color: #000 !important;  
}

form[class=post-comments] input::-moz-placeholder {  /* Firefox 19+ */
   color: #000!important;  
}

form[class=post-comments] input:-ms-input-placeholder {  
   color: #000 !important;  
}


form[class=post-comments] input{
  background-color: transparent;
  -webkit-appearance: caret;
  box-shadow: none;
}


form[class=post-comments] input[type=image]{
  display: none;
}


form[class=post-comments] input[type=text]:focus ~ input[type=image]{
  -webkit-appearance:caret;

  display: inline;
  background-image: url("/submit-button.png");
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  margin-left: 228px;
  margin-top: 4px;
};






