  <section id="options" class="clearfix">
    <div class="option-combo">
      <ul id="filter" class="option-set clearfix" data-option-key="filter">
        <li><a href="#show-all" data-filter="*" class="selected">show all</a></li>
        <li><a href="#photos" data-filter=".post-photo">pictures</a></li>
        <li><a href="#videos" data-filter=".post-video">video</a></li>
        <li><a href="#links" data-filter=".post-link">links</a></li>
        <li><a href="#notes" data-filter=".post-note">notes</a></li>
      </ul>
    </div>
  </section>
  <script>
      // filtering
       var $container = $('#iso-container');
      // initialize isotope
      $container.isotope({
        // options...
      });


      // filter items when filter link is clicked
      $('#filter a').click(function(){
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector });
        return false;
      });
  </script>